body{
    margin:0;
    padding: 0;
    background:fixed;
    background-size:cover;
    background-image: url('img/wallpaper.jpg');
}


.divi{
    width:100%;
    background-color: #f0e9e1;
    height: 15vh;
    border-bottom:4px solid #301901;
    display: flex;
    align-items: center;
   justify-content:space-evenly;
   margin :0px; 
 
}




.product-img{
    height:300px;
    width: 80%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;

}

.link{
    text-align:center;
    font-size: 18px;
    text-decoration: none;
    background-color:#f0e9e1 ;
    color: #301901;
    border-radius: 25px;
    width: 40px;
    padding: 1.7vh;
    font-family: Arial;
   cursor:pointer;
   box-shadow: rgba(50, 50, 93, 0.25) 1px 4px 7px 0px,rgba(0,0,0,0.3) 0px 1px 3px -1px;
   transition: 0.5s;
   border: 2px solid #301901;
   
}

.link:hover{
    transition:0.5s;
    background-color: #301901;
    padding:2.2vh;
    color:#f0e9e1;
}



.centro{
    display: flex;
    justify-content: center;
}

.letra{
    text-align: center;
    font-size: 35px;
    font-family: Arial;
    font-weight: bold;
    color: #301901;
    background-color:#f0e9e1;
    padding:2vh;
    border-radius: 12px;
    border: 3px solid #301901;
}

#go{
    display: flex;
    justify-content: center;
}
.dmaine{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#maine{
    display: flex;
    flex-direction: column;
    


}



#maino{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;  
}

.letra1{
    font-size: 20px;
    font-weight: bold;
    color:#301901;
    background-color: #f0e9e1;
    border-radius: 5px;
    padding: 4px;
    border: 2px solid #301901;

}



#img-1{
    background-image: url('img/capi.jpg');
    background-size: cover;
    margin:40px;
    
}

#img-2{
    background-image: url('img/plant.jpg');
    background-size:cover;
    margin:40px;
    
}

#img-3{
    background-image: url('img/bioma.jpg');
    background-size: cover;
    margin:40px;
    
}
   

.main-img{
    border-radius: 120px;
    width: 200px;
    height: 200px;
    transition: 0.5s;
    font-size: 0px;
    border:3px solid #301901;
    text-align:center;
    margin: 10px;
}

.main-img:hover{
    width: 200px;
    height: 200px;
    transition: 0.5s;
    text-align:center;
    font-size: 20px;
    color: #301901;
    transition: 0.5s;
    font-weight: bold;
    border-radius: 20px;
    margin:0px;
}


#semi-fundo2{
    background-color:#eeeeeee7;
    padding:30px;
    margin:12px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

#img-5{
    background-image: url('img/desmat.jpeg');
    width: 300px;
    height: 200px;
    margin:20px;
    float:left;
    
    
}
.product-img{
    height:300px;
    width: 80%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}



.product-container{
    margin:0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.desc{
    font-size: 20px;
    text-align: justify;
    color:#301901;
    
}

footer{
    background-color:#f0e9e1;
    margin: 0px;
    height: 25vh;
    border-top:4px solid #301901;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.p-foot{
    font-size: 15px;
    width: 150px;
    text-align: justify;
    color: #301901;
    background-color:#f0e9e1;
 }

 #img-6{
    background-image: url('../siteaps/img/qrcode.png');
    background-size: cover;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    margin:5px;
    background-color:#f0e9e1;
}

#img-4{
    background-image: url('../siteaps/img/jardim.png');
    width: 150px;
    height: 160px;
    margin-left:15px;
    background-color:#f0e9e1;
}
.listar{
    font-size: 20px;
    flex-grow: 2;
    background-color:#f0e9e1;
}







