body{
    margin:0;
    background:fixed;
    background-size:cover;
    background-image: url('../img/wallpaper.jpg');
}
.divi{
    background-color: #f0e9e1;
    height: 15vh;
    border-bottom:4px solid #301901;
    display: flex;
    align-items: center;
    justify-content:space-around;
   
}
.link{
    text-align:center;
    font-size: 18px;
    text-decoration: none;
    background-color:#f0e9e1 ;
    color: #301901;
    border-radius: 25px;
    width: 40px;
    padding: 14px;
    font-family: Arial;
    cursor:pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 1px 4px 7px 0px,rgba(0,0,0,0.3) 0px 1px 3px -1px;
    transition: 0.5s;
    border: 2px solid #301901;
   
}
.link:hover{
    transition:0.5s;
    background-color: #301901;
    padding:16px;
    color:#f0e9e1;
}
/*-------*/



/*coisas no fundo semi branco*/
.cont1{
    font-family:Georgia;
    font-size:20px;
    text-align: center;
    color:#301901;
    background-color:#eeeeeec9;
    border-radius: 10px;
    padding: 7px;
    text-decoration: none;
    margin:5px;
    border:2px solid #301901;
}
.cont1:hover{
    font-size:22px;
    transition:0.7s ;
}
.reta{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.titulos2{
    font-family:Georgia;
    font-size:20px;
    border-left: 5px solid #301901;
    color:#301901;
    font-weight: bold;

}
.cont{
    font-family:Georgia;
    font-size:20px;
    
}
#semi-fundo2{
    background-color:#eeeeeee7;
    padding:30px;
    margin:12px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column;
}
.titulo{
    color:#301901;
    font-family: Georgia;
    font-size: 50px;
    padding: 0px;
    border-left: 5px solid #301901;
}
.desc{
    
  font-size: 20px;
    font-family: helvetica;
    text-align: justify;
}
.desc::first-letter{
    font-weight: bold;
  font-size: 35px;
    font-family: helvetica;
  
}
.centro{
    display: flex;
    justify-content: center;
}
.letra{
    text-align: center;
    font-size: 35px;
    font-family: Arial;
    font-weight: bold;
    color: #301901;
    background-color:#f0e9e1;
    padding:2vh;
    border-radius: 12px;
    border: 3px solid #301901;
    margin:10px;
}
.titulo4{
    color:#a80404;
    font-family: Georgia;
    font-size: 25px;
    padding: 0px;
    text-align: center;
    text-decoration: underline;
}
.desc1{
    font-size: 25px;
    font-family: helvetica;
    text-align: justify;
}
.desc2{
    font-size: 18px;
    font-family: helvetica; 
    text-align: justify;
}
#poi{
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    color: #301901;
}
.titulo2{
    color:#301901;
    font-family: Georgia;
    font-size: 25px;
    padding: 0px;
    border-left: 5px solid #301901;
}
.cla{
    list-style: none;
    font-size: 19px;
    font-family: Helvetica;
    margin:0px;
}
.liste{
    font-size: 17px;
    font-family: Helvetica;
}
.titulo6{
    color:#301901;
    font-family: Georgia;
    font-size: 25px;
    padding: 0px;
}
/*--------*/




/*Produtos*/
.product-imgf{
    height:300px;
    width: 80%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    
}
.product-img{
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
/*------*/



/*Image*/
#img-1{
    background-image: url('../img/xyris.jpg');
    width: 200px;
    height: 200px;
    float: left;
    margin:20px;
}
#img-3{
    background-image: url('../img/grafico2.jpg');
    width: 400px;
    height: 250px;
}
#img-4{
    background-image: url('../img/jardim.png');
    width: 100px;
    height: 100px;
    margin-left:15px;
}
#img-5{
    background-image: url('../img/xyris1.jpg');
    width: 200px;
    height: 200px;
    float:right;
    margin:20px;  
}
#img-6{
    background-image: url('../img/qrcode.png');
    background-size: cover;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    margin:5px;
}
/*------*/



/*FOOTER*/
footer{
    background-color:#f0e9e1;
    margin: 0px;
    height: 31vh;
    border-top:4px solid #301901;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     flex-flow: row;   
}
.p-foot{
    
    float: right;
    font-size: 15px;
    width: 150px;
    text-align: justify;
    color: #301901;
}
.listar{
    font-size: 20px;
    flex-grow: 2;
    
}
/*-------*/
